@import "tailwindcss";

p,
h2 {
    color: white;
}

select{
    width: 100%;
    padding: 5px;
}

@media (max-width: 700px) {
  p {
    font-size: 0.9rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  select {
    padding: 3px;
    font-size: 0.9rem;
  }
}