.form {
  display: flex;
  width: 40%;
  flex-direction: column;
  background-color: #0707077a;
  gap: 24px;
  padding: 40px;
  border-radius: 50px;
  align-items: center;
}

.inputGroup {
  width: 100%;
  gap: 8px;
}

.label {
  display: block;
  color: white;
}

.input {
  width: 100%;
  padding: 12px 16px;
  background-color: white;
  color: #070707;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.input::placeholder {
  color: #808080;
}

.loginButton {
  width: 100%;
  padding: 12px;
  background-color: #552954;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginButton:hover {
  background-color: #7c587c;
}