.form {
  display: flex;
  width: 40%;
  
  flex-direction: column;
  background-color: #0707077a;
  padding: 40px;
  border-radius: 50px;
  align-items: center;
}

.errorMessage {
  min-height: 1.25rem; /* 20px */
  color: #f56565;
  font-size: 0.875rem;
  margin: 0; /* bỏ margin thừa */
}
.label {  
  display: block;
  color: white;
}

.input {
  width: 100%;
  padding: 12px 20px;
  background-color: white;
  color: #070707;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.input::placeholder {
  color: #808080;
}

.loginButton {
  padding: 12px;
  margin: 20px 0;
  background-color: #18181B;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginButton:hover {
  background-color: #7c587c;
}