.main {
    display: flex;
    /* Thêm dòng này */
    flex-direction: column;
    /* Xếp dọc */
    text-align: center;
    align-items: center;
    /* Thêm dòng này */
    gap: 100px;
    /* Lúc này gap mới hoạt động */
    width: 100%;
    height: max-content;
}


.button {

    text-align: center;
    width: 150px;
    height: 50px;
    border: 20px;
    border-radius: 50px;
    background-color: rgb(95, 43, 144);

}