.secondSection {
    position: relative;
    background: url('/images/backgroundmoon.png') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.secondSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Äen 40% */
    z-index: 1;
}

.secondSection>* {
    position: relative;
    z-index: 2;
}

.sixSection {
    display: flex;
    background-size: cover;
    width: 100%;
    min-height: 70vh;
}

.feedbackSection {
    width: 100%;
    min-height: 70vh;
}

@media (max-width: 700px) {
  .main {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .section,
  .FirstSection,
  .threeSection,
  .fourthSection,
  .fifthSection,
  .sixSection,
  .sevenSection,
  .eightSection {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .secondSection {
    background-size: cover;
    min-height: 300px;
    padding: 8px;
  }
  .sixSection {
    flex-direction: column;
    min-height: 40vh;
    padding: 8px;
  }
  .feedbackSection {
    min-height: 40vh;
    padding: 8px;
  }
}